@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Julius+Sans+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Julius+Sans+One&family=Xanh+Mono:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    position: absolute;
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
}

#logoImg {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 50%;  
    top: 10px;
    transform: translateX(-50%); 
}

nav ul {
    list-style: none;
    margin-top: 6%
}

nav li {
    font-family: 'Julius Sans One';
    font-size: 1.5rem;
    font-weight: 200;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

.leftNavEle {
    margin-right: 100px;
}

.rightNavEle {
    margin-left: 100px;
}

.navListSpacerRight {
    margin-right: 25px;
    margin-left: 60px;
}

.navListSpacerLeft {
    margin-left: 25px;
    margin-right: 100px;
}

#landingPage {
    position: absolute;
    display: flex;
    top: 30vh;
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

#landingPage h1 {
    margin-bottom: 25vh;
    font-size: 5rem;
    font-family: 'Xanh Mono';
    letter-spacing: 2px;
    font-weight: 100;
    white-space: nowrap;
    border-right: 4px solid black;
    color: rgb(39, 39, 39);

    
}

#downArrow {
    position: absolute;
    margin-top: 250px;   
    width: 50px
}

/* About me */

#aboutmePage {
    position: absolute;
    width: 100%;
    height: 100vh;
    top:100vh;
    
}

#aboutmePage h1 {
    font-family: "jost", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 5rem;
    font-weight: 600;
    color: rgb(71, 71, 71);
    letter-spacing: -3.5px;
    padding-left:200px;
    padding-top: 45px;
}

#aboutmePage h2{
    font-family: "jost", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    color: rgb(71, 71, 71);
    padding-left: 200px;
}

#home_icon {
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 1,
  'opsz' 24
}

#aboutmePage p {
    font-family: "jost", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(71, 71, 71);
    padding-left: 200px;
}

#profileImg {
    float: right;
    border-radius: 50%;
    max-width: 250px;
    height: auto;
    margin-top: 2.5%;
    transform: translateX(-5vw);
}

#myprojectsButton {
    text-decoration: none;
    padding: 5px 20px;
    background-color: rgb(39, 39, 39);
    color: white;
    border-radius: 25px;
    right:0;
    bottom: 75px;
    margin-right: 300px;
    position: absolute;
    display: flex;
    align-items: center;
}

#myprojectsButton span {
    font-size: 2rem;
    color: rgb(189, 192, 206);
    display: inline-block;
    overflow-y: hidden;
    transform: scale(0.7);
 
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}



 /* Website Services */
#websiteservicesPage {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 200vh;
    text-align: center;
    width: 100%;
    height: 100vh;
}

